<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script>
        setTimeout(function(){
            window.location.reload();
        }, 60000);
        </script>
    </head>
    <body>
    <table>
        <tr>
            <th colspan="1" scope="colgroup">Repository/workflow</th>
            <th colspan="1" scope="colgroup">Status</th>
            <th colspan="1" scope="colgroup">Last run</th>
        </tr>
    </tr>

    {% for project in all_projects %}
    <tr>
        <td><a href="{{project.repo_url}}">{{project.repo}}</a></td>

        <!-- Other -->
        {% for workflow in project.other_workflows %}
        <tr>
            <td class="indented">{{workflow.lf_workflow_name}} </td>
            <td class="{{workflow.display_class}}">
                {%- if workflow.is_stale %}
                <span class="gray-cell">stale</span>
                <i class="gray-cell fa fa-clock-o"></i><br>
                {%- endif %}
                {{workflow.workflow_status}}
                <i class="{{workflow.icon_class}}"></i>
            </td>
            <td class="{{workflow.display_class}}">
                <a href="{{workflow.workflow_url}}">
                    {{workflow.conclusion_time}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <p>
        Last Updated {{last_updated}} | 
        <a href='https://github.com/lincc-frameworks/{{dash_repo}}'><i class=\"fa fa-github\"></i> {{dash_repo}}</a>
    </p>

    </body>
</html>
